<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Noticer Demo Application</title>

		<link rel="stylesheet" href="assets/other/bootstrap/css/bootstrap.min.css"/>

		<script src="assets/other/angular/angular.js"></script>
		<script src="assets/js/noticer.js"></script>
		<script src="assets/js/app.js"></script>
	</head>
	<body class="container" ng-app="noticerDemoApp" ng-controller="DemoCtrl">
		<form name="noticeForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-md-12">
					<input type="text" ng-model="text" class="form-control" placeholder="Notice Text">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-12">
							<input type="number" ng-model="autoclose" class="form-control" placeholder="Autoclose">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<select class="form-control" ng-model="type">
								<option value="info">info</option>
								<option value="success">success</option>
								<option value="warning">warning</option>
								<option value="danger">danger</option>
							</select>
						</div>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="closeable"> Closable </label>
					</div>
				</div>
				<div class="col-md-6">
					<button type="button" class="form-control btn btn-primary" ng-click="DemoCtrl.sendNotice()">Send</button>
				</div>
			</div>
		</form>
		<p>
			Notices: <b>{{getCountNotices()}}</b>
		</p>
		<div class="row">
			<div class="col-md-4">
				<sata-noticer theme="sata/nofier/themes/bootstrap.html"></sata-noticer>
			</div>
			<div class="col-md-4">
				<sata-noticer theme="sata/nofier/themes/default.html"></sata-noticer>
			</div>
			<div class="col-md-4">
				<sata-noticer><a href="" ng-show="notice.closeable" ng-click="notice.remove()">[x]</a>{{notice.text}} ({{notice.type}})</sata-noticer>
			</div>
		</div>
	</body>
</html>
